<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width initial-scale=1.0">
    <title>Email verification service</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script language="javascript">
            $(document).ready(function (){
                var urlParams = new URLSearchParams(location.search);
                if (urlParams.has('token')){
                    alert("token is equles = "+ urlParams.get('token'));
                }

                function verifyToken(tokenValue){
                    $.get('http://localhost:8081/mobile-app/users/email-verification', {token: tokenValue})
                    .done(function (response){
                        if (response["operationResult"] === "SUCCESS"){
                            $("#failed-result").attr("style", "display: none !important;");
                            $("#successful-result").attr("style", "display: block !important;");
                        }else {
                            $("#failed-result").attr("style", "display: block !important;");
                            $("#successful-result").attr("style", "display: none !important;");
                        }
                    });
                }
            });
    </script>
</head>
<body>
    <div id="successful-result" style="display: none">Successful verification</div>
    <div id="failed-result" style="display: none">Verification link has expired</div>
</body>
</html>